{{#host}}
<h1>{{monitor.os.hostname}}</h1>
<h5>CPU: {{monitor.os.cpuThreads}} x {{monitor.os.cpuModel}}</h5>
<h5>RAM: {{monitor.os.freememDisp}} / {{monitor.os.totalmemDisp}}</h5>
<h5>GPU: {{monitor.gpu.product}}</h5>
<h5>Storage: </h5>
{{/host}}

<h2>Run Script</h2>
<form method="POST">
  <select action="" name="cmd" id="select-script">
    <option value="">--Please choose a script--</option>
    {{#scripts}}
    <option value="{{.}}">{{.}}</option>
    {{/scripts}}
  </select>
  <input type="submit" value="GO">
</form>
<!-- <br />
<div id="xterm-container"></div>
<script>
  const term = new Terminal()
  term.open(document.getElementById('xterm-container'))
  let text = "{{temp.cliout}}"
  text = unescape(text)
  text = text.replace(/\n/g, "\r\n")
  console.log(text)
  term.write(text)
</script>
 -->
