{{#host}}
<h1>{{monitor.os.hostname}}</h1>
<h5>CPU: {{monitor.os.cpuThreads}} x {{monitor.os.cpuModel}}</h5>
<h5>RAM: {{monitor.os.freememDisp}} / {{monitor.os.totalmemDisp}}</h5>
<h5>GPU: {{monitor.gpu.product}}</h5>
<h5>Storage: </h5>
{{/host}}

<h2>Run Script</h2>
<form method="POST">
  <select action="" name="cmd" id="select-script">
    <option value="">--Please choose a script--</option>
    {{#scripts}}
    <option value="{{.}}">{{.}}</option>
    {{/scripts}}
  </select>
  <input type="submit" value="GO">
</form>
<textarea
  rows="15"
  cols="100"
  style="background-color: #000;
  border: 1px solid #000;
  color: #00ff00;
  padding: 8px;
  font-family: courier new;" disabled>{{host.cli.out}}</textarea>


